<p id="titulo">Editar mi perfil</p>

<div class="row" style="padding: 5px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Nombre de Usuario</mat-label>
                                <input matInput [(ngModel)]="datos.nombreUsuario">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Nombre
                                </mat-label>
                                <input matInput [(ngModel)]="datos.nombre">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Apellido paterno</mat-label>
                                <input matInput [(ngModel)]="datos.apellidoPaterno">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Apellido materno
                                </mat-label>
                                <input matInput [(ngModel)]="datos.apellidoMaterno">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input matInput [(ngModel)]="datos.email">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [(ngModel)]="datos.password" type="password">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Confirmar contraseña
                                </mat-label>
                                <input matInput [(ngModel)]="datos.confirmPassword" type="password">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Subarea</mat-label>
                                <input matInput [(ngModel)]="datos.subareaId">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Puesto</mat-label>
                                <input matInput [(ngModel)]="datos.puestoId">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput [(ngModel)]="datos.telefono" type="number">
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="col-md-12">
                            <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                                mat-raised-button (click)="GuardarUsuario()">GUARDAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>