<footer class="footer bg-ligth rounded-top text-center">
    <div class="container py-10">
      <!-- <div>
        <a class="navbar-brand" href="/inicio"><img src="./assets/Images/truper.ico" style="height: 80px; width: 200px;" /></a>
      </div> -->
      <!-- <div>
        <a class="navbar-brand" href="#"><img src="./assets/Images/facebook.png" style="height: 20px; width: 20px;" /></a>
        <a class="navbar-brand" href="#"><img src="./assets/Images/gorjeo.png" style="height: 20px; width: 20px;" /></a>
        <a class="navbar-brand" href="#"><img src="./assets/Images/instagram.png"
            style="height: 20px; width: 20px;" /></a>
        <a class="navbar-brand" href="#"><img src="./assets/Images/youtube.png" style="height: 20px; width: 20px;" /></a>
      </div> -->
      <p class="my-2" style="text-align: start; color: chocolate;">
        &copy; 2021 TRUPER S.A. de C.V. Todos los derechos reservados.
        <!--interpolacion-->
      </p>
    </div>
  </footer>