.iconCss {
    color: #f16d00;
}

.iconUsarioCss{
    color: #f16d00; 
    font-size: 30px;
    padding-right: 15px;
}

.titulo {
    color: darkslategray;
    font-size: 25px;
}

.subtitulo{
    color: #f16d00;
    font-size: 25;
}