<p-toast></p-toast>
<app-header></app-header>
<p id="titulo">Modulo de gestión de priductividad</p>
<div class="row" style="padding: 20px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="productividadForm">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="mat-form-full-width">
                                <mat-label>Clave de empleado</mat-label>
                                <mat-select formControlName="empleado" required>
                                    <mat-option>--Seleccione--</mat-option>
                                    <mat-option *ngFor="let empleado of catalogoClaveEmpleados" [value]="empleado">
                                        {{empleado.clave}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="mat-form-full-width">
                                <mat-label>Año</mat-label>
                                <mat-select formControlName="anio"
                                    required>
                                    <mat-option>--Seleccione--</mat-option>
                                    <mat-option *ngFor="let anio of anios" [value]="anio.descripcion">
                                        {{anio.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                                mat-raised-button (click)="buscar()">BUSCAR</button>
                        </div>

                    </div>

                    <hr class="m-t-0 m-b-10">

                    <div class="row">
                        <div class="col-md-4">
                            <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                                mat-raised-button (click)="openDialogAltaRegistro()">NUEVO</button>
                        </div>
                    </div>
                </form>

                <hr class="m-t-0 m-b-10">
                <p id="sub-titulo">Tabla de resultados</p>

                <div>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel disabled>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="col-md-1" id="idTextBody">
                                        Clave
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Mes-Año
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Periodo
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Solicitud pedido
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Orden compra
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Dias OC
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Dias SP
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Criterio
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Discrecional
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Ahorro
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Captura a timepo
                                    </div>
                                    <div class="col-md-1" id="idTextBody">
                                        Total
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>

                        <div *ngFor="let servicio of servicios; let i= index;">
                            <mat-expansion-panel (opened)="setStep(i)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.empleado.clave}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.mes}}-{{servicio.anio}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.periodo}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.totalSolPed}}%
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.totalOC}}%
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.diasOC}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.diasSP}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.criterio}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.discrecional}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.ahorro}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.capturaTiempo}}
                                        </div>
                                        <div class="col-md-1" id="idTextBody">
                                            {{servicio.total}}
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="button-row">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <button mat-icon-button color="secondary" pTooltip="Editar empleado"
                                                aria-label="Example icon button with a heart icon"
                                                (click)="openDialogEditarRegistro(servicio.idServicio)">
                                                <mat-icon class="iconPrimaryCss">edit</mat-icon>
                                            </button>
                                        </div>
                                        <div class="col-md-1">
                                            <button mat-icon-button color="secondary" pTooltip="Baja empleado"
                                                aria-label="Example icon button with a heart icon"
                                                (click)="eliminarRegistro(servicio.idServicio)">
                                                <mat-icon class="iconPrimaryCss">delete_outline</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>

                    <div>
                        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            aria-label="Select page" (page)="pageEvent = getPaginatorData($event)">
                        </mat-paginator>
                    </div>
                    <div style="text-align: end; width: auto;">
                        <button id="idButtonTableCss" mat-button color="warn" (click)='export()' >
                            <mat-icon>archive</mat-icon> Exportar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>