<app-header></app-header>

<div class="row" id="id_panel_main">
    <p id="titulo">Inicio</p>

    <div class="col-4">
        <div class="card" class="shadow p-3 mb-5 bg-body rounded">
            <div class="card-title">
                <p id="sub-titulo">Mi Perfil</p>
                <div class="container">
                    <div class="conatiner-body" [ngStyle]="{'background-image':'url(' + idImagen + ')'}">
                        <div id="id-body" (click)="cambiarImagen()">
                            <i class="bi bi-camera-fill" id="id-icono" style="font-size: 2rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p style="color: darkgray;">Nombre: <b>{{usuario.nombre}} {{usuario.apellidoPaterno}}
                            {{usuario.apellidoMaterno}}</b></p>
                </div>
                <div class="row">
                    <p style="color: darkgray;">Usuario: <b>{{usuario.nombreUsuario}}</b></p>
                </div>
                <div class="row">
                    <p style="color: darkgray;">E-mail: <b>{{usuario.email}}</b></p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="idButtonPrimary" class="mat-form-full-width" appearance="outline"
                            mat-raised-button (click)="openDialogactualizarPerfil()">
                            <mat-icon>edit</mat-icon>
                            Actualizar perfil
                        </button>
                    </div>
                    <div class="col-6">
                        <button id="idButtonSecondary" class="mat-form-full-width" appearance="outline"
                            mat-raised-button (click)="openDialogMisBonos()">
                            <mat-icon> attach_money</mat-icon>
                            Mis Bonos
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card" class="shadow p-3 mb-5 bg-body rounded">
            <p id="sub-titulo">Mi productividad</p>
            <div class="card">
                <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
            </div>
        </div>
    </div>

</div>


<!-- <app-footer></app-footer> -->