<app-header></app-header>
<p id="titulo">Modulo de gestión de priductividad</p>
<div class="row" style="padding: 20px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p id="sub-titulo">Nuevo Registro</p>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mat-form-full-width">
                            <mat-label>Clave de empleado</mat-label>
                            <mat-select (selectionChange)="BuscarServicios($event.value)" required>
                                <mat-option>--Seleccione--</mat-option>
                                <mat-option *ngFor="let empleado of catalogoClaveEmpleados" [value]="empleado.empleadoId">
                                    {{empleado.clave}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mat-form-full-width">
                            <mat-label>Año</mat-label>
                            <mat-select (selectionChange)="actualizarAnio($event.value)" [(ngModel)]="datos.anio"
                            required>
                                <mat-option>--Seleccione--</mat-option>
                                <mat-option *ngFor="let anio of anios" [value]="anio.descripcion">
                                    {{anio.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mat-form-full-width">
                            <mat-label>Mes</mat-label>
                            <mat-select [(ngModel)]="mes" required>
                                <mat-option *ngFor="let mes of meses" [value]="mes">
                                    {{mes.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Criterio</mat-label>
                                <input matInput [(ngModel)]="datos.criterio" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Solicitud de pedido %</mat-label>
                                <input matInput [(ngModel)]="datos.totalSolPed" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Orden de compra %</mat-label>
                                <input matInput [(ngModel)]="datos.totalOC" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Dias OC</mat-label>
                                <input matInput [(ngModel)]="datos.diasOc" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Dias SP</mat-label>
                                <input matInput [(ngModel)]="datos.diasSP" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Discrecional</mat-label>
                                <input matInput [(ngModel)]="datos.discrecional" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Ahorro</mat-label>
                                <input matInput [(ngModel)]="datos.ahorro" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Captura a timepo</mat-label>
                                <input matInput [(ngModel)]="datos.capturaTiempo" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Total</mat-label>
                                <input matInput [(ngModel)]="datos.total" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                            mat-raised-button (click)="guardarRegistro()">GUARDAR</button>
                    </div>
                </div>

                <hr class="m-t-0 m-b-10">
                <p id="sub-titulo">Tabla de resultados</p>

                <div>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel disabled>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="col-1" id="idTextBody">
                                        Id
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Mes-Año
                                    </div>
                                    <!-- <div class="col-1" id="idTextBody">
                                        Clv. Empleado
                                    </div> -->
                                    <div class="col-1" id="idTextBody">
                                        Periodo
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Solicitud pedido
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Orden compra
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Dias OC
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Dias SP
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Criterio
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Discrecional
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Ahorro
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Captura a timepo
                                    </div>
                                    <div class="col-1" id="idTextBody">
                                        Total
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>

                        <div *ngFor="let servicio of servicios; let i= index;">
                            <mat-expansion-panel (opened)="setStep(i)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.idServicio}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.mes}}-{{servicio.anio}}
                                        </div>
                                        <!-- <div class="col-1" id="idTextBody">
                                            {{servicio.empleado.clave}}
                                        </div> -->
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.periodo}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.totalSolPed}}%
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.totalOC}}%
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.diasOC}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.diasSP}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.criterio}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.discrecional}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.ahorro}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.capturaTiempo}}
                                        </div>
                                        <div class="col-1" id="idTextBody">
                                            {{servicio.total}}
                                            <!-- <button id="idIconCss" mat-icon-button color="secondary" matTooltip=""
                                                aria-label="Example icon button with a heart icon">
                                                <mat-icon class="iconInaiCss">attach_money</mat-icon>
                                            </button> -->
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="example-button-row">
                                    <div class="row">
                                        <div class="col-1">
                                            <button mat-icon-button pTooltip="Bonos de empleado"
                                                aria-label="Example icon button with a heart icon">
                                                <mat-icon class="iconInaiCss">attach_money</mat-icon>
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button mat-icon-button color="secondary" pTooltip="Editar empleado"
                                                aria-label="Example icon button with a heart icon">
                                                <mat-icon class="iconInaiCss">edit</mat-icon>
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button mat-icon-button color="secondary" pTooltip="Baja empleado"
                                                aria-label="Example icon button with a heart icon">
                                                <mat-icon class="iconInaiCss">delete_outline</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <mat-action-row>
                                    <button id="idButtonCss" mat-button color="warn" (click)="prevStep()">
                                        <i class="mdi mdi-chevron-double-left"></i>
                                        Anterior
                                    </button>
                                    <button id="idButtonCss" mat-button color="warn" (click)="nextStep()">
                                        Siguiente
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>

                    <div>
                        <p-paginator [rows]="pageSize" [totalRecords]="this.totalElements"
                            (onPageChange)="buscarPorPagina($event)">
                        </p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>