<app-header></app-header>
<p id="titulo">Modulo de priductividad</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-tab-group mat-align-tabs="center" dynamicHeight>
                    <mat-tab label="Productividad por comprador" id="titulo">
                        <form [formGroup]="productividadForm">
                            <div class="row" style="padding-top: 15px;">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="mat-form-full-width">
                                        <mat-label>Clave de empleado</mat-label>
                                        <mat-select required formControlName="empleadoId">
                                            <mat-option>--Seleccione--</mat-option>
                                            <mat-option *ngFor="let empleado of catalogoClaveEmpleados"
                                                [value]="empleado.empleadoId">
                                                {{empleado.clave}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="mat-form-full-width">
                                        <mat-label>Año</mat-label>
                                        <mat-select required formControlName="anio">
                                            <mat-option>--Seleccione--</mat-option>
                                            <mat-option *ngFor="let anio of anios" [value]="anio.descripcion">
                                                {{anio.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                                        mat-raised-button (click)="buscar()">Buscar</button>
                                </div>
                            </div>
                        </form>


                        <div class="row" *ngIf="showGrafic">
                            <div class="col-md-8">
                                <div class="card" class="shadow p-3 mb-5 bg-body rounded">
                                    <p id="sub-titulo">Productividad</p>
                                    <div class="card">
                                        <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="850px"
                                            height="300px" [responsive]="false"></p-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" class="shadow p-3 mb-5 bg-body rounded">
                                    <p id="sub-titulo">Total</p>
                                    <div class="card">
                                        <p-chart type="bar" [data]="totalData" [options]="basicOptions" width="380px">
                                        </p-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Productividad general">
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="fill" class="mat-form-full-width">
                                    <mat-label>Año</mat-label>
                                    <mat-select required>
                                        <mat-option>--Seleccione--</mat-option>
                                        <mat-option *ngFor="let anio of anios" [value]="anio.descripcion">
                                            {{anio.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <p id="sub-titulo">Productividad por año</p> -->
                                <div class="card" class="shadow p-3 mb-5 bg-body rounded">
                                    <p id="sub-titulo">Productividad</p>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="fill" class="mat-form-full-width">
                                            <mat-label>Mes</mat-label>
                                            <mat-select required>
                                                <mat-option *ngFor="let mes of meses" [value]="mes">
                                                    {{mes.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="card">
                                        <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="850px"
                                            height="300px" [responsive]="false"></p-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- <p id="sub-titulo">Productividad total por año</p> -->
                                <div class="card" class="shadow p-3 mb-5 bg-body rounded">
                                    <p id="sub-titulo">Total</p>
                                    <div class="card">
                                        <p-chart type="bar" [data]="totalData" [options]="basicOptions" width="380px">
                                        </p-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>