<div class="row" style="padding: 5px;">
    <div class="col-12">
        <p id="titulo">Actualizar Regisro</p>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-3">
            <mat-form-field appearance="fill" class="mat-form-full-width">
                <mat-label>Clave de empleado</mat-label>
                <mat-select (selectionChange)="actualizaComprador($event.value)" required>
                    <mat-option>--Seleccione--</mat-option>
                    <mat-option *ngFor="let empleado of catalogoClaveEmpleados" [value]="empleado.empleadoId">
                        {{empleado.clave}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mat-form-full-width">
                            <mat-label>Año</mat-label>
                            <mat-select [(ngModel)]="datos.anio" required>
                                <mat-option>--Seleccione--</mat-option>
                                <mat-option *ngFor="let anio of anios" [value]="anio.descripcion">
                                    {{anio.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mat-form-full-width">
                            <mat-label>Mes</mat-label>
                            <mat-select [(ngModel)]="mes" required>
                                <mat-option *ngFor="let mes of meses" [value]="mes">
                                    {{mes.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Criterio</mat-label>
                                <input matInput [(ngModel)]="datos.criterio" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Solicitud de pedido %</mat-label>
                                <input matInput [(ngModel)]="datos.totalSolPed" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Orden de compra %</mat-label>
                                <input matInput [(ngModel)]="datos.totalOC" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Dias OC</mat-label>
                                <input matInput [(ngModel)]="datos.diasOc" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Dias SP</mat-label>
                                <input matInput [(ngModel)]="datos.diasSP" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Discrecional</mat-label>
                                <input matInput [(ngModel)]="datos.discrecional" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Ahorro</mat-label>
                                <input matInput [(ngModel)]="datos.ahorro" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Captura a timepo</mat-label>
                                <input matInput [(ngModel)]="datos.capturaTiempo" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="font-size: 12px">
                            <mat-form-field class="mat-form-full-width" appearance="outline">
                                <mat-label>Total</mat-label>
                                <input matInput [(ngModel)]="datos.total" type="number" required>
                                <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px"
                            mat-raised-button (click)="actualizar()">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>