<app-headers></app-headers>
<p id="titulo">Modulo de gestión de trabajadores</p>

<div class="row" style="padding: 20px;">
  <div class="colm-12">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div style="font-size: 12px">
                <mat-form-field class="mat-form-full-width" appearance="outline">
                  <mat-label>Clave</mat-label>
                  <input matInput [(ngModel)]="filtros.clave">
                  <mat-icon matSuffix></mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <button id="idButtonPrimary" class="mat-form-full-width" style="margin-top: 6px" mat-raised-button
                (click)="BuscarTrabajador()">Buscar</button>
            </div>
          </div>

          <hr class="m-t-0 m-b-10">

          <div>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="col-1" id="idTextBody">
                      id
                    </div>
                    <div class="col-1" id="idTextBody">
                      Clave trabajador
                    </div>
                    <div class="col-2" id="idTextBody">
                      Fecha inicio
                    </div>
                    <div class="col-2" id="idTextBody">
                      Fexha fin
                    </div>
                    <div class="col-1" id="idTextBody">
                      Sub-area
                    </div>
                    <div class="col-1" id="idTextBody">
                      Area
                    </div>
                    <div class="col-2" id="idTextBody">
                      Telefono
                    </div>
                    <div class="col-1" id="idTextBody">
                      Estado
                    </div>
                    <div class="col-1" id="idTextBody">
                      Acciones
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <div *ngFor="let trabajadores of trabajadores; let i= index;">
                <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="col-1" id="idTextBody">
                        {{trabajadores.empleadoId}}
                      </div>
                      <div class="col-1" id="idTextBody">
                        {{trabajadores.clave}}
                      </div>
                      <div class="col-2" id="idTextBody">
                        {{trabajadores.fechaInicio}}
                      </div>
                      <div class="col-2" id="idTextBody">
                        {{trabajadores.fechaFin}}
                      </div>
                      <div class="col-1" id="idTextBody">
                        {{trabajadores.subArea.subArea}}
                      </div>
                      <div class="col-1" id="idTextBody">
                        {{trabajadores.subArea.area.area}}
                      </div>
                      <div class="col-2" id="idTextBody">
                        {{trabajadores.telefono}}
                      </div>
                      <div class="col-1" id="idTextBody">
                        {{trabajadores.estatus}}
                      </div>
                      <div class="col-1" id="idTextBody">
                        <button id="idIconCss" mat-icon-button color="secondary" matTooltip=""
                          aria-label="Example icon button with a heart icon">
                          <mat-icon class="iconInaiCss">attach_money</mat-icon>
                        </button>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="example-button-row">
                    <div class="row">
                      <div class="col-1">
                        <button mat-icon-button pTooltip="Bonos de empleado"
                          aria-label="Example icon button with a heart icon">
                          <mat-icon class="iconInaiCss">attach_money</mat-icon>
                        </button>
                      </div>
                      <div class="col-1">
                        <button mat-icon-button color="secondary" pTooltip="Editar empleado"
                          aria-label="Example icon button with a heart icon">
                          <mat-icon class="iconInaiCss">edit</mat-icon>
                        </button>
                      </div>
                      <div class="col-1">
                        <button mat-icon-button color="secondary" pTooltip="Baja empleado"
                          aria-label="Example icon button with a heart icon">
                          <mat-icon class="iconInaiCss">delete_outline</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>

                  <mat-action-row>
                    <button id="idButtonCss" mat-button color="warn" (click)="prevStep()">
                      <i class="mdi mdi-chevron-double-left"></i>
                      Anterior
                    </button>
                    <button id="idButtonCss" mat-button color="warn" (click)="nextStep()">
                      Siguiente
                      <i class="mdi mdi-chevron-double-right"></i>
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </div>
            </mat-accordion>

            <div>
              <p-paginator [rows]="pageSize" [totalRecords]="this.totalElements"
                (onPageChange)="buscarPorPagina($event)">
              </p-paginator>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>